/* root */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root{
    --font-size-big: clamp(calc(1rem + 1vw), (2rem + 5vw), 6vw);
    --font-size-medium: clamp(calc(1rem + 1vw), (2rem + 2vw), 3vw);
    --font-size-small: calc(2vw + 1.5rem);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.unvisible{
    display: none;
    visibility: hidden;
}
/* landing-page */

.game-landing-page{
    height: 100vh;
    overflow: hidden;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    color: white;
    z-index: 1;
    background: url('https://i.pinimg.com/originals/5c/2e/40/5c2e4089346a54d4ca6e1292c1e684ad.gif') no-repeat center center/cover;
}

.game-landing-page::before,.how-to-play-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.wellcome-msg{
    font-size: var(--font-size-medium);
    font-weight: lighter; 
    text-align: center;
}
.minecraft{
    color: aqua;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: clamp(calc(1rem + 1vw), (3rem + 8vw), 10vw);
    background: -webkit-linear-gradient(35deg,#eee, rgb(204, 196, 127),#eee, rgb(39, 47, 161),#eee, rgb(39, 47, 161));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    animation: minecraft 3s ease-in-out infinite;
}
.btns-wrap{
    display: flex;
}
.btn{
    padding: .25rem 2rem;
    font-size: var(--font-size-medium);
    margin: .5rem;
    background-color: transparent;
    border: 3px solid #eee;
    border-radius: 7px;
    color: #eee;
    cursor: pointer;
    transition: .2s ease-in-out;

}
.start-game-btn{
    background-color: rgba(101, 176, 199, 0.637);
}
.btn:hover{
    background-color: rgba(148, 26, 26, 0.637);
    transition: .2s ease-in-out;
}
.btn:active{
    transform: scale(.95);
    transition: 0s;
}
.landing-page-footer {
    position: absolute;
    bottom: 1vw;
    font-size: 2vw;
}
.heart-symbol{
    color: rgb(207, 24, 55);
}
.landing-page-footer a {
    color: aqua;
    text-decoration: none;
}
/* how-to-play-container */
.game-landing-page::before,.how-to-play-container::before{
    background-color: rgba(0, 0, 0, 0.55);
}
.how-to-play-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    top: 0;
    background: url('https://64.media.tumblr.com/0a4121ef4c1fcb93b82b09f24a1d2f78/tumblr_pw5caeUPps1qemas4o1_540.gifv') no-repeat center center/cover;
    color: white;
}
.how-to-play-container .wrap-all{
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100%;
}
.how-to-play-container .header-wrap {
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 1vw;
}
.how-to-play-container .header-wrap h1{
    font-weight: lighter;
    letter-spacing: 1px;
}
.how-to-play-container p {
    text-align: center;
    font-size: 1.8vw;
}
.how-to-play-container .each-tool-explan-txt {
    text-transform: uppercase;
    padding: 1vw;
    color: yellow ;
}
.how-to-play-container ul {
    margin: 0 auto;
    font-size: 1.5vw;
}
.how-to-play-container .second-ul {
    list-style: none;
    text-align: center;
}
.how-to-play-container .second-ul li{
    margin: .5vw 0;
}
.how-to-play-container .second-ul li:last-child{
    color: yellow;
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.how-to-play-container table {
    justify-content: center;
    margin: 0 auto;
    border-spacing: 15px;
}
.how-to-play-container table tr{
    margin: 2vw;
}
.how-to-play-container table td{
    font-size: calc(3vw + 1rem);
    text-align: center;
    width: calc(3vw + 1rem);
    height: calc(3vw + 1rem);
}
.tree-leaves-explan {
    background: url('./images/tree-leaves.png') no-repeat center center/cover;
}
.wood-explan {
    background: url('./images/wood.png') no-repeat center center/cover;
}
.rock-explan {
    background: url('./images/rock.png') no-repeat center center/cover;
}
.soil-explan {
    background: url('./images/soil.jpg') no-repeat center center/cover;
}
.sword-explan,.axe-explan,.pickaxe-explan,.shovel-explan,
.tree-leaves-explan,.wood-explan,.rock-explan,.soil-explan{
position: relative;
}
.sword-explan,.axe-explan,.pickaxe-explan,.shovel-explan,
.tree-leaves-explan,.wood-explan,.rock-explan,.soil-explan {
    transition: .25s ease-in-out;
}
.sword-explan:hover,.axe-explan:hover,.pickaxe-explan:hover,.shovel-explan:hover,
.tree-leaves-explan:hover,.wood-explan:hover,.rock-explan:hover,.soil-explan:hover {
    transform: scale(1.1);
    transition: .25s ease-in-out;
    box-shadow: 0 0 1vw black;
}
.sword-explan::after,.axe-explan::after,.pickaxe-explan::after,.shovel-explan::after,
.tree-leaves-explan::after,.wood-explan::after,.rock-explan::after,.soil-explan::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1vw;
    color: yellow;
    background: rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-size: 1.2vw;
    text-shadow: 0 0 1vw black;
}
.sword-explan::after{
    content: 'sword';
}
.axe-explan::after{
    content: 'axe';
}
.pickaxe-explan::after{
    content: 'pickaxe';
}
.shovel-explan::after{
    content: 'shovel';
}
.tree-leaves-explan::after{
    content: 'tree';  
}
.wood-explan::after{
    content: 'wood';  
}
.rock-explan::after{
    content: 'rock';  
}
.soil-explan::after {
    content: 'soil';
}
.how-to-play-container .header-wrap a {
    color: yellow;
    text-decoration: none;
}

.back-to-homepage{
    text-align: center;
}
.back-to-homepage .back-to-homepage-btn {
    background-color: transparent;
    border: 1px solid yellow;
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
    border-radius: 7px;
    color: white;
    padding: 1vw 2vw;
    margin: 1vw 0 0 0;
    cursor: pointer;
    transition: .25s ease-in-out;
    font-size: calc(1vw + 1rem);
    outline: none;
}
.back-to-homepage-btn:hover{
    background-color: rgb(255, 255, 0);
    border: 1px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    color: black;
    font-weight: bolder;
    letter-spacing: 1px;
}
.back-to-homepage-btn:active{
    transform: scale(.95);
    outline: none;
}
/* main game */

.main-game{
    height: 100vh;
    width: 100vw;
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 1fr 20vw;
}

.minecraft-world {
    background-color: skyblue;
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(20,auto);
    grid-template-columns: repeat(40,auto);
}
.sidebar {
    background-color: #333;
    color: white;
}
/* cubes */

.cube-transition,.cube {
    transition: .2s ease-in-out;
}
.cube:hover {
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 5px rgb(238, 238, 238);
    cursor: pointer;
}
.cloud{
    background: url('./images/cloud.png') no-repeat center center/cover;
}
.grass {
    background: url('./images/grass.png') no-repeat center center/cover;
}
.rock{
    background: url('./images/rock.png') no-repeat center center/cover;
}
.soil {
    background: url('./images/soil.jpg') no-repeat center center/cover;
}
.tree-leaves {
    background: url('./images/tree-leaves.png') no-repeat center center/cover;
}
.wood {
    background: url('./images/wood.png') no-repeat center center/cover;
}

/* sidebar */

.sidebar {
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidebar .tools-txt{
    font-size: 3.3vw;
}
.sidebar .tools,.inventory-cube-wrap{
    display: inline-grid;
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    grid-template-columns:  repeat(2,1fr);
    grid-template-rows:  repeat(2,1fr);
    padding-top: 1vw;
    grid-gap: 1vw;
}

.tools .border{
    border: 0.1vh solid rgb(136, 136, 136);
    border-radius: .5vw;
    height: 5vw;
    padding: 1vw;
    transition: .15s ease-in-out;
}
.tools .border:hover{
    transition: .15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.13);
    cursor: pointer;
    box-shadow: 0 0 30px black;
    transform: scale(1.05);
}
.active-tool {
    transition: .15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.13);
    cursor: pointer;
    box-shadow: 0 0 30px black;
    transform: scale(1.05);    
}
.tools{
    width: 70%;
    margin: 0 auto;
}
.tools .tool{
    padding: 1vw;
    position: relative;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .1vw;
}
.tools .sword, .sword-explan{
    background: url('./images/sword.png') no-repeat center center/contain;
}
.tools .axe , .axe-explan{
    background: url('./images/axe.png') no-repeat center center/contain;
}
.tools .pickaxe , .pickaxe-explan{
    background: url('./images/Pickaxe.png') no-repeat center center/contain;
}
.tools .shovel , .shovel-explan{
    background: url('./images/shovel.png') no-repeat center center/contain;
}
.tools .sword::before {
    content: 'sword';
    position: absolute;
    bottom: -1vw;
    left: 0;
    right: 0;
    font-size: .8vw;
}
.tools .axe::before {
    content: 'axe';
    position: absolute;
    bottom: -1vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .8vw;
}
.tools .pickaxe::before {
    content: 'pickaxe';
    position: absolute;
    bottom: -1vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .8vw;
}
.tools .shovel::before {
    content: 'shovel';
    position: absolute;
    bottom: -1vw;
    left: 0;
    margin: 0 auto;
    right: 1rem;
    font-size: .8vw;
}

.inventory-cube-wrap div{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    width: 3vw;
    height: 3vw;
    box-shadow: inset 0 0 15px black;
    transition: 0.2s ease-in-out;
}
.inventory-cube-wrap div:hover{
    box-shadow: 0 0 5px black;
    box-shadow: inset 0 0 5px black;
    cursor: pointer;
}
.inventory-cube-wrap .tree-leaves-inventory {
    background: url('./images/tree-leaves.png') no-repeat center center/cover;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
} 
.inventory-cube-wrap .wood-inventory {
    background: url('./images/wood.png') no-repeat center center/cover;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
} 
.inventory-cube-wrap .rock-inventory {
    background: url('./images/rock.png') no-repeat center center/cover;
    font-size: 2vw;
    font-weight: bolder;
} 
.inventory-cube-wrap .soil-inventory {
    background: url('./images/soil.jpg') no-repeat center center/cover;
    font-size: 2vw;
    font-weight: bolder;
}
.active-inventory{
    transform: scale(1.25);
    transition: 0.2s ease-in-out;
}
.control-btn{
    padding: 3vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    
}
.control-btn div {
    margin: 1vw auto;
    padding: 1vw;
    position: relative;
    width: 100%;
    font-size: 1vw;
    border: 1px solid rgba(238, 238, 238, 0.103);
    border-radius: 7px;
    transition: .25s ease-in-out;
    cursor: pointer;
    transition: .25s ease-in-out;
}
.control-btn div:hover{
    border-radius: 17px;
    border: 1px solid white;
    transition: .25s ease-in-out;
}
.control-btn div:active{
    transform: scale(.99);
    transition: .15s ease-in-out;

}
.how-to-play-game-btn:hover{
    transform: scale(1.1);
    background-color: rgba(204, 206, 68, 0.25);
}
.reset-mincraft{
    background-color: rgba(206, 84, 68, 0.25);
}
.reset-mincraft:hover{
    background-color: rgba(206, 84, 68, 0.644);
    transform: scale(1.1);
}

.back-to-start:hover{
    background-color: rgba(11, 221, 228, 0.5);
    transform: scale(1.1);
}
@keyframes minecraft {50% {letter-spacing: 10px;}}
