/* root */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root{
    --font-size-big: clamp(calc(1rem + 1vw), (2rem + 5vw), 6vw);
    --font-size-medium: clamp(calc(1rem + 1vw), (2rem + 2vw), 3vw);
    --font-size-small: calc(2vw + 1.5rem);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
.unvisible{
    display: none;
}
.visible{
    visibility: visible;
}

/* landing-page */

.game-landing-page{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    color: white;
    z-index: 1;
    background: url('https://i.pinimg.com/originals/5c/2e/40/5c2e4089346a54d4ca6e1292c1e684ad.gif') no-repeat center center/cover;
}
.game-landing-page::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.wellcome-msg{
    font-size: var(--font-size-medium);
    font-weight: lighter; 
    text-align: center;
}
.minecraft{
    color: aqua;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: clamp(calc(1rem + 1vw), (3rem + 8vw), 10vw);
    background: -webkit-linear-gradient(35deg,#eee, rgb(204, 196, 127),#eee, rgb(39, 47, 161),#eee, rgb(39, 47, 161));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    animation: minecraft 3s ease-in-out infinite;
}
.btns-wrap{
    display: flex;
}
.btn{
    padding: .25rem 2rem;
    font-size: var(--font-size-medium);
    margin: .5rem;
    background-color: transparent;
    border: 3px solid #eee;
    border-radius: 7px;
    color: #eee;
    cursor: pointer;
    transition: .2s ease-in-out;

}
.start-game-btn{
    background-color: rgba(101, 176, 199, 0.637);
}
.btn:hover{
    background-color: rgba(148, 26, 26, 0.637);
    transition: .2s ease-in-out;
}
.btn:active{
    transform: scale(.95);
    transition: 0s;
}
.landing-page-footer {
    position: absolute;
    bottom: 1vw;
}
.heart-symbol{
    color: rgb(207, 24, 55);
}
.landing-page-footer a {
    color: aqua;
}

/* main game */

.main-game{
    height: 100vh;
    width: 100vw;
    max-width:100%;
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 1fr 20vw;
}

.minecraft-world {
    background-color: skyblue;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(10,auto);
    grid-template-columns: repeat(20,auto);
}
.sidebar {
    background-color: #333;
    color: white;
}
/* cubes */
/* .cube {
    border:1px solid transparent;
} */
.cube:hover {
    box-shadow: inset 0 0 5px rgb(238, 238, 238);
    cursor: pointer;
}
.cloud{
    background: url('./images/cloud.png') no-repeat center center/cover;
}
.grass {
    background: url('./images/grass.png') no-repeat center center/cover;
}
.rock{
    background: url('./images/rock.png') no-repeat center center/cover;
}
.soil {
    background: url('./images/soil.jpg') no-repeat center center/cover;
}
.tree-leaves {
    background: url('./images/tree-leaves.png') no-repeat center center/cover;
}
.wood {
    background: url('./images/wood.png') no-repeat center center/cover;
}

/* sidebar */

.sidebar {
    text-align: center;
    width: 100%;
    position: relative;
}
.sidebar .tools-txt{
    font-size: calc(2vw + 1rem);
}
.sidebar .tool{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.tools .border{
    border: 0.1vh solid rgb(136, 136, 136);
    border-radius: .5vw;
    width: 45%;
    height: calc(5rem + 5vh);
    margin: 1vh auto;
    transition: .15s ease-in-out;
}
.tools .border:hover{
    transition: .15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.13);
    cursor: pointer;
    box-shadow: 0 0 30px black;
    transform: scale(1.05);
}
.active-tool {
    transition: .15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.13);
    cursor: pointer;
    box-shadow: 0 0 30px black;
    transform: scale(1.05);    
}
.tools .tool{
    padding: calc(1rem + 1vw);
    width: fit-content;
    margin: 1rem auto;
    position: relative;
}
.tools .axe{
    background: url('./images/axe.png') no-repeat center center/contain;
}
.tools .pickaxe {
    background: url('./images/Pickaxe.png') no-repeat center center/contain;
}
.tools .shovel {
    background: url('./images/shovel.png') no-repeat center center/contain;
}
.tools .axe::before{
    content: 'axe';
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: calc(.5rem + 1.5vh);
}
.tools .pickaxe::before{
    content: 'pickaxe';
    position: absolute;
    bottom: -1rem;
    left: 0;
    margin: 0 auto;
    right: 1rem;
    font-size: calc(.5rem + 1.5vh);
}
.tools .shovel::before{
    content: 'shovel';
    position: absolute;
    bottom: -1rem;
    left: 0;
    margin: 0 auto;
    right: 1rem;
    font-size: calc(.5rem + 1.5vh);
}
.inventory-cube-wrap{
    display: flex;
    flex-direction: column;
}
.inventory-cube-wrap div{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    padding: 1rem;
    width: calc(2vw + 2rem);
    height: calc(2vw + 2rem);
    margin: 1rem auto;
    box-shadow: inset 0 0 15px black;
    transition: 0.2s ease-in-out;

    
}
.inventory-cube-wrap div:hover{
    box-shadow: 0 0 5px black;
    box-shadow: inset 0 0 5px black;
    cursor: pointer;
}
.inventory-cube-wrap .wood-inventory {
    background: url('./images/tree-leaves.png') no-repeat center center/cover;
    font-size: calc(2rem + 1vw);
    font-weight: bolder;
    text-align: center;
} 
.inventory-cube-wrap .rock-inventory {
    background: url('./images/rock.png') no-repeat center center/cover;
    font-size: calc(2rem + 1vw);
    font-weight: bolder;
} 
.inventory-cube-wrap .soil-inventory {
    background: url('./images/soil.jpg') no-repeat center center/cover;
    font-size: calc(2rem + 1vw);
    font-weight: bolder;
}
.active-inventory{
    transform: scale(1.25);
    transition: 0.2s ease-in-out;
}
@keyframes minecraft {50% {letter-spacing: 10px;}}